
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-default" asp-action="Symptoms">Diagnose by symptoms</a>
</p>

<p>
    <a class="btn btn-default" asp-action="Questionnaire">Diagnose with questionare</a>
</p>
