@model WebClient.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Top Diseases</h2>
        <ul>
            @foreach (var item in Model.TopDiseases)
            {
                <li>@Html.DisplayFor(modelItem => item.DiseaseName)</li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>No. symptoms</h2>
        <ul>
            <li>@Html.DisplayFor(model => model.SymptomCount)</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Top Symptoms</h2>
        <ul>
            @foreach (var item in Model.TopSymptoms)
            {
                <li>@Html.DisplayFor(modelItem => item.SymptomName)</li>
            }
        </ul>
    </div>
</div>
